# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Other common files to ignore
notes.txt  # Assuming this file might contain sensitive data
.DS_Store

# Environment files
.env
.venv

constants.py
